PORT=5000
DNS_SERVERS=dummy_data
MONGO_URI=dummy_data
JWT_SECRET= dummy_data


EMAIL_USER= dummy_data
EMAIL_PASS = dummy_data

CLOUDINARY_CLOUD_NAME = dummy
CLOUDINARY_API_KEY =dummy
CLOUDINARY_API_SECRET =dummy
